body {
  color: white ;
  background-image: url(Screenshot 2026-02-10 184016.png) width 200pt;
  font-style: italic ;
   font-family: "Sans-serif", Arial;
   h1 {
   color: white ;
    font-size: 50pt;
    text-align: center;
    font-family: "Sans-serif", Arial;
}
  h2 {
   color: white ;
    font-size: 25pt;
    font-style: normal ;
    text-align: center;
    }
 a {
  color: red ;
  font-style: normal ;
  text-align: center;
    }
}
