body {
  color: white ;
  background-color: black;
  font-style: italic ;
  text-align: left;
   font-family: "Sans-serif", Arial;
   h1 {
   color: white ;
    font-size: 50pt;
    text-align: center;
    font-family: "Sans-serif", Arial;
}
  h2 {
   color: white ;
    font-size: 25pt;
    font-style: normal ;
    text-align: center;
    }
